public/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="language" content="es">
    <title>Agua Nasqua</title>
    <meta name="title" content="Agua Nasqua">
    <meta name="description" content="Agua Nasqua, Agua de mesa Nasqua es elaborada con los más altos estándares de pureza, calidad y sabor. ¡Nasqua embajador de nuestra cultura!">
    <meta name="author" content="aguanasqua.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="agua, agua nasqua, nasqua agua, rica agua, aguita, peru">
    <meta property="og:description" content="Agua Nasqua, Agua de mesa Nasqua es elaborada con los más altos estándares de pureza, calidad y sabor. ¡Nasqua embajador de nuestra cultura!">
    <meta property="og:image" content="/static/img/logo_skeletlon.png?6a21483505288096">
    <meta property="og:site_name" content="Nasqua">
    <meta property="og:title" content="Agua Nasqua">
    <meta property="og:type" content="website">
    <meta property="og:url" content="[object Object]">
    <link href="/static/css/all.css?6a21483505288096" media="all" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet" type="text/css">
    <link href="/static/img/favicon.ico?6a21483505288096" rel="shortcut icon" type="image/x-icon">
    <link href="/static/img/logo-ico.png?6a21483505288096" rel="icon">
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Bris Hotel<a href=".banner_masi" title="" class="scroll">
            <div class="hack_space"></div><img src="/static/img/logo-bris-hotel.png?6a21483505288098" alt=""></a></h1>
        <nav class="menu"><span class="icon icon-menu"></span>
          <ul>
            <li data-id="banner"><a href="javascript:;">&nbsp;</a></li>
            <li data-id="banner"><a href=".banner_masi" title="" class="scroll">Habitaciones</a></li>
            <li data-id="proyect"><a href=".company_box" title="Bondades del proyecto" class="scroll">Servicios<i data-id="proyect" class="ico_proyection"></i></a></li>
            <li data-id="planes"><a href=".app_content" title="planos de ventas" class="scroll">Galería</a></li>
            <li data-id="company"><a href=".contact" title="Contacto comercial" class="scroll">Contáctanos</a></li>
          </ul>
        </nav>
        <div class="box_phone">
          <div class="icon icon-phone"></div><span class="ctn_txt_phone"><span class="text_phone">Teléfono:</span><br><span class="namber_phone">(056)522722</span></span>
        </div>
        <div class="box_social_media"><a href="javascript" class="icon icon-facebook"></a><a href="javascript" class="icon icon-youtube"></a><a href="javascript" class="icon icon-instagram"></a></div>
      </div>
    </header>
    <!-- -- -- -- -- -- -- -- -- -- -- fin del header -- -- -- --  -- -- -- -- ---->
    <section class="home_section">
      <h1>¡Viaja, disfruta, vive!</h1>
      <h2>El dinero se recupera.<br>El tiempo, no.</h2>
    </section>
    <section class="reserves_section"><a href="javascript:;">Reservas y tarifas</a></section>
    <section class="welcome_section">
      <h3 class="sub_title">Bienvenidos</h3><span>Bris Hotel te ofrece una alternativa diferente. Toma unas vacaciones, <br>deja la rutina y ven con nosotros.<br><strong>¿Qué nos hace únicos?</strong><br>Estamos ubicados a media cuadra del centro de la ciudad,<br>así podrás caminar tranquilamente.<br>Nuestras amplias habitaciones están equipadas con Wifi, TV pantalla <br>plana, baños privados y más. ¡El mejor lugar para relajarte!</span>
    </section>
    <section class="stripe stripe_rooms">
      <div class="container stripe_ctn">
        <div class="hack_space"></div>
        <div class="text_stripe">
          <h2>Habitaciones</h2><span>Tenemos el mejor precio para ti.</span>
        </div>
      </div>
    </section>
    <section class="rooms_section">
      <div class="container ctn_rooms">
        <article class="type_room">
          <div class="txt_type_room">
            <h2>Simples</h2><a href="javascript:;">read more</a>
          </div>
          <div class="icon icon-arrow_rigth"></div>
          <ul class="list_photos_rooms">
            <li><img src="/static/img/room_simple_1.jpg"></li>
            <li><img src="/static/img/room_simple_2.jpg"></li>
            <li><img src="/static/img/room_simple_3.jpg"></li>
          </ul>
        </article>
        <article class="type_room">
          <div class="txt_type_room">
            <h2>Dobles</h2><a href="javascript:;">read more</a>
          </div>
          <div class="icon icon-arrow_rigth"></div>
          <ul class="list_photos_rooms">
            <li><img src="/static/img/room_doble_1.jpg"></li>
            <li><img src="/static/img/room_doble_2.jpg"></li>
            <li><img src="/static/img/room_doble_3.jpg"></li>
          </ul>
        </article>
        <article class="type_room">
          <div class="txt_type_room">
            <h2>Triple</h2><a href="javascript:;">read more</a>
          </div>
          <div class="icon icon-arrow_rigth"></div>
          <ul class="list_photos_rooms">
            <li><img src="/static/img/room_triple_1.jpg"></li>
            <li><img src="/static/img/room_triple_2.jpg"></li>
            <li><img src="/static/img/room_triple_3.jpg"></li>
          </ul>
        </article>
        <article class="type_room">
          <div class="txt_type_room">
            <h2>Cuádruple</h2><a href="javascript:;">read more</a>
          </div>
          <div class="icon icon-arrow_rigth"></div>
          <ul class="list_photos_rooms">
            <li><img src="/static/img/room_cuadruple_1.jpg"></li>
            <li><img src="/static/img/room_cuadruple_2.jpg"></li>
            <li><img src="/static/img/room_cuadruple_3.jpg"></li>
          </ul>
        </article>
        <article class="type_room">
          <div class="txt_type_room">
            <h2>Matrimonial</h2><a href="javascript:;">read more</a>
          </div>
          <div class="icon icon-arrow_rigth"></div>
          <ul class="list_photos_rooms">
            <li><img src="/static/img/room_matrimonial_1.jpg"></li>
            <li><img src="/static/img/room_matrimonial_2.jpg"></li>
            <li><img src="/static/img/room_matrimonial_3.jpg"></li>
          </ul>
        </article>
        <article class="type_room">
          <div class="txt_type_room">
            <h2>King</h2><a href="javascript:;">read more</a>
          </div>
          <div class="icon icon-arrow_rigth"></div>
          <ul class="list_photos_rooms">
            <li><img src="/static/img/room_king_1.jpg"></li>
            <li><img src="/static/img/room_king_2.jpg"></li>
            <li><img src="/static/img/room_king_3.jpg"></li>
          </ul>
        </article>
      </div>
    </section>
    <section class="stripe stripe_services">
      <div class="container stripe_ctn">
        <div class="hack_space"></div>
        <div class="text_stripe">
          <h2>Servicios</h2><span>Tú no sólo estás aquí. Tú disfrutas de tu estancia.</span>
        </div>
      </div>
    </section>
    <section class="services_section">
      <div class="container ctn_services">
        <article class="type_service">
          <div class="img_services"><img src="/static/img/service_conference_1.jpg"></div>
          <div class="txt_type_service">
            <h2>Conferencias y Reuniones</h2><strong>¿Necesitas un ambiente para tus reuniones?</strong><br><span>Nosotros te ofrecemos un amplio espacio equipado<br>con una pantalla ecran y sistema de sonido.</span>
          </div>
        </article>
        <article class="type_service">
          <div class="img_services"><img src="/static/img/service_restaurant_1.jpg"></div>
          <div class="txt_type_service">
            <h2>Restaurantes</h2><span>Empieza el día saboreando un rico desayuno con<br>una vista panorámica de nuestro hotel y parte de la<br>ciudad.</span>
          </div>
        </article>
        <article class="type_service">
          <div class="img_services"><img src="/static/img/service_pool_1.jpg"></div>
          <div class="txt_type_service">
            <h2>Piscina</h2><span>Nasca es una ciudad muy calurosa. Vivimos bajo el<br>sol “todo el año”. ¿Deseas refrescarte?<br>Conoce nuestra piscina.</span>
          </div>
        </article>
        <article class="type_service">
          <div class="img_services"><img src="/static/img/service_paseos_1.jpg"></div>
          <div class="txt_type_service">
            <h2>Conoce Nasca</h2><span>Además de las líneas de Nasca, nuestra ciudad tiene<br>una cultura milenaria por descubrir. Para los<br>amantes de los deportes extremos hay diferentes<br>alternativas como el sandboard o paseos en<br>buggy en Usaca. Sopréndete con nuestra galería.</span>
          </div>
        </article>
      </div>
    </section>
    <section class="stripe stripe_galleries">
      <div class="container stripe_ctn">
        <div class="hack_space"></div>
        <div class="text_stripe">
          <h2>Galerías</h2><span>Conoce más de Bris Hotel.</span>
        </div>
      </div>
    </section>
    <section class="galleries_section">
      <div class="container ctn_galleries">
        <article class="type_gallery"><img src="/static/img/gallery_hotel.jpg">
          <div class="txt_type_gallery">
            <h2>Hotel</h2><a href="javascript:;">Ver fotos</a>
          </div>
        </article>
        <article class="type_gallery"><img src="/static/img/gallery_rooms.jpg">
          <div class="txt_type_gallery">
            <h2>Habitaciones</h2><a href="javascript:;">Ver fotos</a>
          </div>
        </article>
        <article class="type_gallery"><img src="/static/img/gallery_services.jpg">
          <div class="txt_type_gallery">
            <h2>Servicios</h2><a href="javascript:;">Ver fotos</a>
          </div>
        </article>
      </div>
    </section>
    <section class="stripe stripe_contanct">
      <div class="container stripe_ctn">
        <div class="hack_space"></div>
        <div class="text_stripe">
          <h2>Contáctanos</h2><span>Estamos para atenderte y brindarte toda la información que necesites.</span>
        </div>
      </div>
    </section>
    <section class="contanct_section">
      <div class="container ctn_contanct">
        <div class="map"><img src="/static/img/map.jpg"></div>
      </div>
    </section>
    <footer>
      <section class="footer_section">
        <div class="container ctn_footer">
          <div class="row_footer row_footer_info">
            <h3 class="icon icon-clock"> <strong>HORARIO DE ATENCIÓN</strong></h3><span>Las 24 horas</span>
            <h3 class="icon icon-placeholder"> <strong>DIRECCIÓN</strong></h3><span>Calle Callao #907 - Nasca, Ica, Perú</span>
            <h3 class="icon icon-phone"> <strong>TELÉFONO</strong></h3><span>(056) 522722 / 522268<br></span><span>(#) 956044867 / 956044864</span>
          </div>
          <div class="row_footer row_footer_map">
            <h3> <strong>INFORMACIÓN</strong></h3>
            <ul class="map_list">
              <li><a href="javascrip:;" class="icon icon-arrow_rigth">Nosotros</a></li>
              <li><a href="javascrip:;" class="icon icon-arrow_rigth">Galería</a></li>
              <li><a href="javascrip:;" class="icon icon-arrow_rigth">Habitaciones</a></li>
              <li><a href="javascrip:;" class="icon icon-arrow_rigth">Contáctanos</a></li>
              <li><a href="javascrip:;" class="icon icon-arrow_rigth">Servicios</a></li>
            </ul>
            <ul class="links_wbs">
              <li><a href="javascript:;" _target="blank"><img src="/static/img/foot_tripadvisor.png"></a></li>
              <li><a href="javascript:;" _target="blank"><img src="/static/img/foot_booking.png"></a></li>
              <li><a href="javascript:;" _target="blank"><img src="/static/img/foot_despegar.png"></a></li>
            </ul>
          </div>
          <div class="row_footer row_footer_other">
            <h3><strong>FORMA DE PAGO</strong></h3>
            <ul class="cards">
              <li><img src="/static/img/foot_cards.png"></li>
            </ul>
            <h3> <strong>SOLICITAR INFORMACIÓN</strong></h3>
            <form>
              <fieldset>
                <input type="text" placeholder="Contáctanos">
              </fieldset>
            </form>
          </div>
          <div class="footer_social_network"><a href="javascript:;" _target="blank" class="icon icon-facebook">BRIS HOTEL</a><a href="javascript:;" _target="blank" class="icon icon-youtube">BRIS HOTEL</a><a href="javascript:;" _target="blank" class="icon icon-instagram">@BRIS HOTEL</a></div>
        </div>
        <div class="footer_copyright"><span>Copyright © 2016 Bris Hotel. Todos los derechos creditos reservados.</span></div>
      </section>
    </footer>
    <script src="/static/js/libs/jquery/dist/jquery.min.js?6a21483505288100" type="text/javascript"></script>
  </body>
</html>

frontend/resources/jade/index.jade
extends _layouts/layout_home.jade
//- index/index
block content
	section.home_section
		h1 ¡Viaja, disfruta, vive!
		h2 El dinero se recupera.
			br
			| El tiempo, no.
	section.reserves_section
		a(href="javascript:;") Reservas y tarifas
	section.welcome_section
		h3.sub_title Bienvenidos
		span Bris Hotel te ofrece una alternativa diferente. Toma unas vacaciones, 
			br
			| deja la rutina y ven con nosotros.
			br
			strong ¿Qué nos hace únicos?
			br
			| Estamos ubicados a media cuadra del centro de la ciudad,
			br
			| así podrás caminar tranquilamente.
			br
			| Nuestras amplias habitaciones están equipadas con Wifi, TV pantalla 
			br
			| plana, baños privados y más. ¡El mejor lugar para relajarte!
	section.stripe.stripe_rooms
		.container.stripe_ctn
			.hack_space
			.text_stripe
				h2 Habitaciones
				span Tenemos el mejor precio para ti.
	section.rooms_section
		.container.ctn_rooms
			article.type_room
				.txt_type_room
					h2 Simples
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_simple_1.jpg")
					li
						img(src!="#{page.url.static}img/room_simple_2.jpg")
					li
						img(src!="#{page.url.static}img/room_simple_3.jpg")
			article.type_room
				.txt_type_room
					h2 Dobles
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_doble_1.jpg")
					li
						img(src!="#{page.url.static}img/room_doble_2.jpg")
					li
						img(src!="#{page.url.static}img/room_doble_3.jpg")
			article.type_room
				.txt_type_room
					h2 Triple
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_triple_1.jpg")
					li
						img(src!="#{page.url.static}img/room_triple_2.jpg")
					li
						img(src!="#{page.url.static}img/room_triple_3.jpg")
			article.type_room
				.txt_type_room
					h2 Cuádruple
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_cuadruple_1.jpg")
					li
						img(src!="#{page.url.static}img/room_cuadruple_2.jpg")
					li
						img(src!="#{page.url.static}img/room_cuadruple_3.jpg")
			article.type_room
				.txt_type_room
					h2 Matrimonial
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_matrimonial_1.jpg")
					li
						img(src!="#{page.url.static}img/room_matrimonial_2.jpg")
					li
						img(src!="#{page.url.static}img/room_matrimonial_3.jpg")
			article.type_room
				.txt_type_room
					h2 King
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_king_1.jpg")
					li
						img(src!="#{page.url.static}img/room_king_2.jpg")
					li
						img(src!="#{page.url.static}img/room_king_3.jpg")
	section.stripe.stripe_services
		.container.stripe_ctn
			.hack_space
			.text_stripe
				h2 Servicios
				span Tú no sólo estás aquí. Tú disfrutas de tu estancia.
	section.services_section
		.container.ctn_services
			article.type_service
				.img_services
					img(src="#{page.url.static}img/service_conference_1.jpg")
				.txt_type_service
					h2 Conferencias y Reuniones
					strong ¿Necesitas un ambiente para tus reuniones?
					br
					span Nosotros te ofrecemos un amplio espacio equipado
						br
						| con una pantalla ecran y sistema de sonido.
			article.type_service
				.img_services
					img(src="#{page.url.static}img/service_restaurant_1.jpg")
				.txt_type_service
					h2 Restaurantes
					span Empieza el día saboreando un rico desayuno con
						br
						| una vista panorámica de nuestro hotel y parte de la
						br
						| ciudad.
			article.type_service
				.img_services
					img(src="#{page.url.static}img/service_pool_1.jpg")
				.txt_type_service
					h2 Piscina
					span Nasca es una ciudad muy calurosa. Vivimos bajo el
						br
						| sol “todo el año”. ¿Deseas refrescarte?
						br
						| Conoce nuestra piscina.
			article.type_service
				.img_services
					img(src="#{page.url.static}img/service_paseos_1.jpg")
				.txt_type_service
					h2 Conoce Nasca
					span Además de las líneas de Nasca, nuestra ciudad tiene
						br
						| una cultura milenaria por descubrir. Para los
						br
						| amantes de los deportes extremos hay diferentes
						br
						| alternativas como el sandboard o paseos en
						br
						| buggy en Usaca. Sopréndete con nuestra galería.
	section.stripe.stripe_galleries
		.container.stripe_ctn
			.hack_space
			.text_stripe
				h2 Galerías
				span Conoce más de Bris Hotel.
	section.galleries_section
		.container.ctn_galleries
			article.type_gallery
				img(src="#{page.url.static}img/gallery_hotel.jpg")
				.txt_type_gallery
					h2 Hotel
					a(href="javascript:;") Ver fotos
			article.type_gallery
				img(src="#{page.url.static}img/gallery_rooms.jpg")
				.txt_type_gallery
					h2 Habitaciones
					a(href="javascript:;") Ver fotos
			article.type_gallery
				img(src="#{page.url.static}img/gallery_services.jpg")
				.txt_type_gallery
					h2 Servicios
					a(href="javascript:;") Ver fotos
	section.stripe.stripe_contanct
		.container.stripe_ctn
			.hack_space
			.text_stripe
				h2 Contáctanos
				span Estamos para atenderte y brindarte toda la información que necesites.
	section.contanct_section
		.container.ctn_contanct
			.map
				img(src="#{page.url.static}img/map.jpg")
